[submodule "qmk_firmware"]
	path = qmk_firmware
	url = git@github.com:muellerbernd/qmk_firmware.git
[submodule "sweep-zmk-config"]
	path = sweep-zmk-config
	url = git@github.com:muellerbernd/sweep-zmk-config.git
