[submodule "qmk_firmware"]
	path = qmk_firmware
	url = git@github.com:muellerbernd/qmk_firmware.git
[submodule "zmk-config"]
	path = zmk-config
	url = git@github.com:muellerbernd/zmk-config.git
[submodule "zmk"]
	path = zmk
	url = git@github.com:zmkfirmware/zmk.git
